.ec-steps {
	position: relative;
	height: 80px;
	font: 12px/1.125 "microsoft yahei",Arial,Verdana;
}

.ec-steps ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ec-steps-doing-decorator {
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
	
	transform: translate3d(0px, 0px, 0px);

	-webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
	transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
	transition: transform .3s cubic-bezier(.645,.045,.355,1);
	transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ec-steps-processbar {
	position: absolute;
	top: 31px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ea544a;
}


.ec-step-indicator {
	width: 100%;
	height: 2px;
	background-color: #e6e6e6;
}

.ec-steps-icon {
	position: absolute;
	top: 0;
	left: 88px;
}

.ec-step {
	float: left;
	width: 210px;
}

.ec-step-title {
	margin-top: 18px;
	font-size: 12px;
}
.ec-step-desc {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
}

.ec-step.doing, .ec-step.done{
	color: #ea544a;
}

.ec-step.doing .ec-step-indicator, .ec-step.done .ec-step-indicator{
	background-color: #ea544a;
	
}

.ec-step.done{
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
	
}