<!-- 步骤条 -->
<div class="ec-steps u-steps">    
	<ul>
		<li class="ec-step doing">
			<div class="ec-step-title">Step1</div>
			<div class="ec-step-indicator"></div>
			<div class="ec-step-desc">基本信息</div>
		</li>
		<li class="ec-step">
			<div class="ec-step-title">Step2</div>
			<div class="ec-step-indicator"></div>
			<div class="ec-step-desc">描述与图片</div>
		</li>
		<li class="ec-step">
			<div class="ec-step-title">Step3</div>
			<div class="ec-step-indicator"></div>
			<div class="ec-step-desc">商品SKU</div>
		</li>
		<li class="ec-step">
			<div class="ec-step-title">Step4</div>
			<div class="ec-step-indicator"></div>
			<div class="ec-step-desc">SEO优化</div>
		</li>
		<li class="ec-step">
			<div class="ec-step-title">Step5</div>
			<div class="ec-step-indicator"></div>
			<div class="ec-step-desc">完成</div>
		</li>
	</ul>
	<div class="ec-steps-doing-decorator">
		<div class="ec-steps-icon"><img src="../../components/common/steps/images/icon_cart_alt.png"></i></div>
		<div class="ec-steps-processbar"></div>
	</div>
</div>
<!-- 步骤条 end-->