html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, "宋体", "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    background: #F5F6F6;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track:vertical {
    background-color: black;
}

::-webkit-scrollbar-track-piece {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:vertical {
    margin-right: 10px;
    background-color: #A6A6A6;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-corner:vertical {
    background-color: #535353;
}

::-webkit-scrollbar-resizer:vertical {
    background-color: #FF6E00;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

pre {
    border: 0;
}


/* 一些更改bootstrap css on*/

.logo {
    display: inline-block;
    width: 145px;
    /*background: url(https://dn-tenximage.qbox.me/logo-white.svg) no-repeat;*/
    /*background-size: 83%;*/
    position: relative;
    top: 10px;
    height: 40px;
}

.samll-logo {
    width: 40px;
    position: relative;
    // left: 7px;
    // top: 15px;
}

li {
    list-style: none;
}

tbody tr:hover {
    background: #FAFAFA;
}


/* 更改bootstrap css end  */

a {
    color: #008CD6
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}


input[type='text'],
input[type='password'] {
    border: 1px solid #ccc;
    text-indent: 5px;
    padding: 3px 0px;
    line-height: 25px;
}

input[type='text']:focus,
input[type='password']:focus,
textarea.form-control:focus {
    /*border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
    border: 1px solid #75A1F0;
    outline: none;
    box-shadow: 0 0 10px #75A1F0;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    -ms-transition: all 0.218s;
    transition: all 0.218s;
}

header {
    background: #fff;
    height: 56px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0px 3px 6px rgb(204, 204, 204);
}

.Container {
    padding-top: 140px;
}

.fixed-row {
    width: 98.5%;
    padding-left: 0px;
    padding-right: 0px
}

.log {
    height: 55px;
    background: #16243d;
    position: relative;
    line-height: 55px;
    font-size: 20px;
    color: #FFF;
    padding-left: 10px;
}



.tenxcloud {
    margin-left: 7px;
    display: inline-block;
}

.tenxcloud >img {
    width: 85%;
}

img.username {
    border-radius: 50%;
    height: 36px;
}

ul.nav-bar {
    list-style: none;
}

@media(min-width: 1024px) {
    ul.nav-bar li {
        width: 85px;
    }
    .userList > .rows,
    .nav-list > .rows {
        position: absolute;
        left: 40px;
        top: -15px;
        width: 0;
        height: 0;
        font-size: 0;
        border-width: 8px;
        border-style: dashed dashed solid dashed;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255) rgba(0, 0, 0, 0);
    }
   
}

@media(max-width: 1024px) {
    ul.nav-bar li {
        width: 85px;
    }
    .userList > .rows,
    .nav-list > .rows {
        position: absolute;
        left: 33px;
        top: -15px;
        width: 0;
        height: 0;
        font-size: 0;
        border-width: 8px;
        border-style: dashed dashed solid dashed;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255) rgba(0, 0, 0, 0);
    }
   
}

ul.nav-bar li {
    float: right;
    font-size: 14px;
    text-align: center;
    display: block;
    height: 55px;
    position: relative;
    color: #333;
}

ul.nav-bar li.use {
    margin-right: 20px;
}

ul.nav-bar li.use:hover .userList,
ul.nav-bar li.work:hover .nav-list,
ul.nav-bar li.consume:hover .nav-consume,
ul.nav-bar li.ticket:hover .nav-tickets {
    display: block;
}


.margin {
    margin: 0px 5px;
}

a.check {
    color: #00afdd;
    font-weight: 600;
}

li span.drop {
    display: block;
    width: 100%;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
}

ul.nav-bar li a.nav-t {
    display: block;
    color: #666;
    line-height: 55px;
    width: 100%;
    height: 55px;
    text-decoration: none;
}

.nav-t .namespace {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

ul.nav-bar li:hover b.caret.username {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

b.caret.username {
    position: absolute;
    top: 25px;
    right: 3px;
    margin-left: 10px;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.userList,
.nav-list {
    display: none;
    width: 100px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*-------------------------------------hr-----------------------------------------*/



.userList > .li {
    display: block;
    height: 40px;
    color: #333;
    line-height: 40px;
    background: #fff;
    text-align: left;
}

.userList > .li.hr,
.li.hrc {
    height: 45px;
    border-top: 1px solid #DDDDDD;
}

.userList > a:hover {
    background: #e4eaec;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}




.nav-list .li {
    background: #fff;
    height: 40px;
    display: block;
    width: 100%;
    line-height: 40px;
    color: #333;
    text-align: left;
}

.nav-list .li:hover {
    background: #e4eaec;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


i.fa-i {
    position: relative;
    top: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(https://dn-tenxstore.qbox.me/i.png)no-repeat;
    background-size: 100%;
    cursor: pointer;
}

li.last >h5 {
    text-align: left;
    text-indent: 30px;
}

.li > i {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0px 10px;
}

.li > i.fa_baseinfo {
    background: url(https://dn-tenxstore.qbox.me/personal.png) no-repeat 0px 0px;
}

.li > i.fa_ihone {
    background: url(https://dn-tenxstore.qbox.me/personal.png) no-repeat 0px -39px;
}

.li > i.fa_lock {
    background: url(https://dn-tenxstore.qbox.me/personal.png) no-repeat 0px -77px;
    position: relative;
    left: 2px;
}

.li > i.fa_out {
    background: url(https://dn-tenxstore.qbox.me/personal.png) no-repeat 0px -118px;
    position: relative;
    top: 3px;
}

.li > i.fa_quick_icon {
    position: relative;
    height: 15px;
    top: 2px;
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px -35px;
}

.li > i.fa_doc {
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px 0px;
    height: 15px;
    position: relative;
    top: 3px;
}

.li > i.fa_video {
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px -73px;
    height: 15px;
    position: relative;
    top: 3px;
}

.li > i.fa_club {
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px -107px;
}

.li > i.fa_open {
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px -143px;
}

.li > i.fa_wordpress {
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px -181px;
}

.li > i.fa_update {
    background: url(https://dn-tenxstore.qbox.me/doc-icons.png) no-repeat 0px -220px;
}

// .modal-content {
//     top: 50px;
// }


/*new console style*/

.page-container {
    margin-left: 200px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 100%;
}

.page-sidebar {
    z-index: 100;
    width: 200px;
    position: fixed;
    top: 0px;
    min-height: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #213049;
    /*margin-left: -200px;*/
}

.page-small-sidebar {
    width: 55px;
    position: fixed;
    top: 0px;
    z-index: 100;
    margin-left: 0px;
    height: 100%;
    background: #213045;
}

.page-hide {
    margin-left: -200px;
}

.nav-menu {
    height: calc(100% - 65px)
}

article,
.container-right {
    width: 100%;
    margin-top: 65px;
    display: inline-block;
    padding: 0 30px;
    // min-width: 682px;
    height: calc(100% - 70px);
}

.contentTitle {
    height: 50px;
}

.dbserver {
    height: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}


.nav-i-block {
    width: 50px !important;
    text-indent: 30px;
}

.nav-menu li.nav-li {
    /*height: 50px;*/
    border-top: 1px solid transparent;
    /*border-bottom:1px solid #273541;*/
    position: relative;
    cursor: pointer;
    overflow-x: hidden;
    /*padding-left: 20px;*/
}

.nav-menu li.nav-li:hover {
    background-color: #22293c;
    color: #fff;
}

.nav-menu li.nav-li.item-click .nav-sign {
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moztransform: rotate(-180deg);
    transform: rotate(-180deg);
}

.nav-menu .nav-footer {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    background: #213045;
    height: 40px;
}

.nav-footer .btn-rumen {
    display: inline-block;
    padding: 5px 8px;
    margin: 0 6px;
    border-radius: 3px;
    color: #00afdd;
    border: 1px solid #00afdd;
}

.nav-footer .btn-rumen:hover {
    background: #00afdd;
    color: white;
}


.nav-footer .btn-invite:hover {
    background: #2FBA66;
    color: white;
}

.nav-footer .btn-invite {
    display: inline-block;
    padding: 5px 8px;
    color: #2FBA66;
    margin: 0 3px;
    border-radius: 3px;
    border: 1px solid #2FBA66;
}

.nav-menu li.nav-li >a {
    display: block;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

.nav-li-small {
    height: 50px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #273541;
    text-align: center;
    position: relative;
}

.nav-li-small>a {
    display: block;
    padding-top: 6px;
    height: 100%;
}

.nav-li-small.selected {
    background: #2D3945
}

.nav-li.item-click {
    background: #22293a
}

.nav-li-small:hover {
    background: #008CD6
}

.nav-li-small:hover .nav-item-hover {
    display: block;
}

.nav-li-small .nav-item-hover {
    top: -49px;
    left: 55px;
    text-align: left;
}

.nav-item-hover {
    display: none;
    position: relative;
    left: 75px;
    top: -71px;
    width: 120px;
    z-index: 2;
}

.live-hover:hover .nav-item-hover {
    display: block;
}

.nav-item-hover>li {
    height: 40px;
    background: #008CD6;
    color: #eee;
    opacity: 0.9;
    line-height: 40px;
    text-indent: 20px;
    cursor: pointer;
}

.nav-item-hover>li>a {
    color: #eee;
}

.nav-item-hover>li:hover,
.nav-item-hover>li>a:hover {
    color: #fff
}

.nav-item-list {
    display: none;
    /*position: fixed;*/
    /*left: 75px;top:65px;*/
    width: 100%;
}

.foldingpad {
    position: absolute;
    top: 16px;
    left: 210px;
    width: 35px;
    height: 30px;
    /*line-height: 50px;*/
    text-align: center;
    cursor: pointer;
    z-index: 200;
    color: #777;
    font-size: 16px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /*background: url(../../images/console/nav-left-meun.png)no-repeat;*/
}

.foldingpad.rotate {
    right: -18px;
    z-index: 1;
    left: 65px;
}

.foldingpad.rotate i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}



.nav-item-list .list-detail li {
    height: 50px;
    line-height: 50px;
    padding-left: 48px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #22293a;
    color: rgba(255, 255, 255, 0.8);
}

.nav-item-list .list-detail li:hover {
    background: #263440;
    color: #fff;
}

.nav-item-list .list-detail li.li-active:hover {
    background: #008CD6;
    color: #eee;
}

.nav-item-list .list-detail .li-active {
    background: #008CD6;
    color: #eee;
}

.nav-item-list .list-detail li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
}

.list-detail li i.fa_baseinfo {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(https://dn-tenxstore.qbox.me/personal.png) no-repeat 30px 0px;
}

.nav-li-a {
    display: none;
    width: 100%;
}

.nav-title {
    text-align: center;
    line-height: 30px;
    color: #ddd;
    /*font-size: 12px;*/
}

.nav-icon {
    width: 24px;
    height: 23px;
    display: inline-block;
    /*margin:0px auto 5px auto;*/
    /*margin-top: 5px;*/
    background: url(../../images/left_icon.png) no-repeat;
    position: relative;
    top: 3px;
    /*filter:alpha(opacity=60);*/
    opacity: 0.6;
}

.nav-sign {
    float: right;
    width: 40px;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.nav-icon-dashboard {
    background-position: 0 3px;
}

.nav-icon-container {
    background-position: 0 -20px;
}

.nav-icon-build {
    background-position: 0 -45px;
}

.nav-icon-speed {
    background-position: 0 -70px;
}

.nav-icon-mirror {
    background-position: 0 -96px;
}

.nav-icon-db {
    background-position: 0 -143px;
}

.nav-icon-cache {
    background-position: 0 -120px;
}

.nav-icon-extend {
    background-position: 0 -170px;
}

.nav-icon-rocket {
    background-position: 0 -195px;
}


.nav-li-a >a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 60px;
    color: #eee;
}

.nav-li-a >a:hover,
.nav-li-a >a.action {
    background: #202025;
    color: #3969A5;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}



/*    --------------- update before ------------------------*/

.dashboard .container-count {
    width: calc(25% - 34px);
}



.global-notice {
    display: inline-block;
    float: left;
    height: 55px;
    line-height: 55px;
    padding-right: 60px;
    position: relative;
    left: 240px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.global-notice a {
    color: #008cd6;
}


.ont-top .rotate2d {
    -webkit-animation: rotate2ds 2s linear infinite;
    -moz-animation: rotate2ds 2s linear infinite;
    -ms-animation: rotate2ds 2s linear infinite;
    animation: rotate2ds 2s linear infinite;
}

.vip {
    width: 20px;
    height: 20px;
    fill: currentColor;
    position: absolute;
    top: -1px;
    right: -1px;
    color: #00afdd;
}


/* animate */

@keyframes rotate2ds {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate2ds {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate2ds {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate2ds {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
    }
}

@-o-keyframes rotate2ds {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

// 自己添加的图标
.md-home:before {
    content: "\f015";
    font-family: 'FontAwesome';
}
.padding{
  padding: 0px;
}

.server-list .u-tag{
    min-width: 60px;
    padding: 6px 10px;
}

.u-widget-title {
    line-height: 20px;
    background: #FAFAFA;
    padding-right: 0px;
}
.u-widget-body{
  height: 220px;
}

.u-widget-more{
    padding: 4px 8px;
    border-radius: 3px;
    color: #00afdd;
    border: 1px solid #00afdd;
    font-size: 12px;
}
.u-widget-more:hover{
    background: #00afdd;
    color: white;
    text-decoration: none;
}

.u-widget {
  margin: 10px;
  
}

article>.dashboard .server-list li{
  height: 50px;
}
article>.dashboard .server-list li a {
    color: #333;
}

.u-widget-title .symbol{
    width: 70px;
    cursor: pointer;
    text-indent: 0;
    text-align: center;
    transition: all .2s;
    font-size: 25px;
}

.u-widget-title .symbol.action {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.use-condition .part1-info,.use-condition .part3-info{
  width: 15%;
  display: inline-block;
}

.use-condition .part2-info{
  display: inline-block;
  width: 68%;
}

.use-condition .part3-info{
  float: right;
}

.use-condition .per{
  height: 40px;
}

// 生成页面

.u-breadcrumb:after {
  display: table;
  content: " ";
}


.pearls-con{
    padding-top: 30px;
    // padding-bottom: 30px;
}


.list-system-img{
    border: 1px solid #e2e2e4;
    border-radius: 2px;
    min-height: 100px;
}

.margin-top-35{
    margin-top: 35px;
}

.image-item  div[class*="col-"]{
    text-align: center;
}

@media screen (max-width: 768px) {
    .img_icon>img {
        height: 80px;
    }
}
// 重写步骤条样式

.pearl.done .pearl-number, .pearl.done .pearl-icon {
  
    background-color: #00bcd4;
    border-color: #00bcd4;
}

.pearl.current .pearl-number, .pearl.current .pearl-icon {
    color: #00bcd4;
    background-color: rgb(255,255,255);
    border-color: #00bcd4;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.pearl.done:before, .pearl.done:after {
    background-color: #00bcd4;
}

.pearl.current:before, .pearl.current:after {
    background-color: #00bcd4;
}


.pearl.done .pearl-number, .pearl.done .pearl-icon {
    color: rgb(255,255,255);
    background-color: #00bcd4;
    border-color: #00bcd4;
}


// 标签

.open-system .u-tag{
    min-width: 60px;
    line-height: 36px;
    text-align: center;
}

.open-system .u-tag, .info-class .u-tag{
    line-height: 36px;
    font-size: 14px;

}

// 搜索框

.step-inner .pull-right.searchbtn{
    float: none !important;
}


.u-progress > .bar {

    transition: width 0.5s 
}