<!--商品分类表格01------>
<div class="spfltab01-box">
	<table id="propertyList" class="u-table-base u-table-striped ec-table">
		<thead>
			<tr>
				<th class="u-text-left">
					<span class="s-b">
                                        <label class="u-checkbox">
                                            <input id="all-select" type="checkbox" class="u-checkbox-input">
                                            <span class="u-checkbox-label"></span>
					</label>
					<span>序号</span>
					</span>
				</th>
				<th>属性组编码</th>
				<th>属性组名称</th>
				<th>属性组显示顺序</th>
				<th>启用状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="u-text-left">
					<span class="s-b">
                        <label class="u-checkbox">
                            <input type="checkbox" class="u-checkbox-input">
                            <span class="u-checkbox-label"></span>
					</label>
					<span>1</span>
					</span>
				</td>
				<td class="u-text-left">SXZ12345678</td>
				<td>服装</td>
				<td>1</span>
				</td>
				<td>启用</td>
				<td>
					<a href="#" class="ec-table-op-del"></a>
				</td>
			</tr>
			<tr>
				<td class="u-text-left">
					<span class="s-b">
                        <label class="u-checkbox">
                            <input type="checkbox" class="u-checkbox-input">
                            <span class="u-checkbox-label"></span>
					</label>
					<span>2</span>
					</span>
				</td>
				<td class="u-text-left">GG8888811</td>
				<td>内饰颜色</td>
				<td>2</td>
				<td><span class="s-b c-red">停用</span>
				</td>
				<td>
					<a href="#" class="ec-table-op-del"></a>
				</td>
			</tr>
			<tr>
				<td class="u-text-left">
					<span class="s-b">
                        <label class="u-checkbox">
                            <input type="checkbox" class="u-checkbox-input">
                            <span class="u-checkbox-label"></span>
					</label>
					<span>3</span>
					</span>
				</td>
				<td class="u-text-left">AETW123135</td>
				<td>内饰颜色</td>
				<td>2</td>
				<td><span class="s-b c-red">停用</span>
				</td>
				<td>
					<a href="#" class="ec-table-op-del"></a>
				</td>
			</tr>
			<tr>
				<td class="u-text-left">
					<span class="s-b">
                        <label class="u-checkbox">
                            <input type="checkbox" class="u-checkbox-input">
                            <span class="u-checkbox-label"></span>
					</label>
					<span>4</span>
					</span>
				</td>
				<td class="u-text-left">QWE1324222</td>
				<td>内饰颜色</td>
				<td>2</td>
				<td><span class="s-b c-red">停用</span>
				</td>
				<td>
					<a href="#" class="ec-table-op-del"></a>
				</td>
			</tr>
			<tr>
				<td class="u-text-left">
					<span class="s-b">
                        <label class="u-checkbox">
                            <input type="checkbox" class="u-checkbox-input">
                            <span class="u-checkbox-label"></span>
					</label>
					<span>5</span>
					</span>
				</td>
				<td class="u-text-left">TTQ12187672</td>
				<td>内饰颜色</td>
				<td>2</td>
				<td><span class="s-b c-red">停用</span>
				</td>
				<td>
					<a href="#" class="ec-table-op-del"></a>
				</td>
			</tr>
			<tr>
				<td class="u-text-left">
					<span class="s-b">
                        <label class="u-checkbox">
                            <input type="checkbox" class="u-checkbox-input">
                            <span class="u-checkbox-label"></span>
					</label>
					<span>6</span>
					</span>
				</td>
				<td class="u-text-left">POII1231277</td>
				<td>内饰颜色</td>
				<td>2</td>
				<td><span class="s-b c-red">停用</span>
				</td>
				<td>
					<a href="#" class="ec-table-op-del"></a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
<!--商品分类表格01--end------>