<!--商品查询条件01------>
<div id="search-form" class="ec-query">
	<ul class="ul">
		<li class="li">
			<!--商品选项表-->
			<div class="ec-query-item">
				<div class="ec-query-title">上架时间：</div>
				<dl class="dl">
					<dd class="dd"><a class="a ec-query-item-choice">今天</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">本周</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">本月</a></dd>
				</dl>
			</div>
		</li>
		<li class="li">
			<!--商品选项表-->
			<div class="ec-query-item">
				<div class="ec-query-title">商品类型：</div>
				<dl class="dl">
					<dd class="dd"><a class="a ec-query-item-choice">自建</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">通用</a></dd>
				</dl>
			</div>
		</li>
		<li class="li">
			<!--商品选项表-->
			<div class="ec-query-item">
				<div class="ec-query-title">品牌：</div>
				<dl class="dl">
					<dd class="dd"><a class="a ec-query-item-choice">品牌1</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌2</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌3</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌4</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌5</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌6</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌7</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌8</a></dd>
					<dd class="dd"><a class="a ec-query-item-choice">品牌9</a></dd>
				</dl>				
			</div>
		</li>
	</ul>
</div>
<!--商品查询条件01--end------>