<!--友情连接-->
<div class="yqlj01-box w">

    <div class="links c-b-orange-00">
        <ul>
            <li><a href="#">各地特产</a></li><li><a href="#">云南农产品网</a></li><li><a href="#">名优土特新</a></li><li><a href="#">中国食品谷</a></li><li><a href="#">中国地理标志产品商城</a></li><li><a href="#">烟台苹果网</a></li><li><a href="#">全国城市农贸中心联合会</a></li><li><a href="#">中国物流与采购网</a></li><li><a href="#">中国农业品牌网</a></li><li><a href="#">国贸团</a></li><li><a href="#">各地特产</a></li><li><a href="#">云南农产品网</a></li><li><a href="#">名优土特新</a></li><li><a href="#">中国食品谷</a></li><li><a href="#">中国地理标志产品商城</a></li><li><a href="#">烟台苹果网</a></li><li><a href="#">全国城市农贸中心联合会</a></li><li><a href="#">中国物流与采购网</a></li><li><a href="#">中国农业品牌网</a></li><li><a href="#">国贸团</a></li>
        </ul>
    </div>
    <div class="f-cl"></div>
</div>
<!--友情连接-end-->

<!--footer-->
<div class="footer w">
    <div class="nav_d c-b-gray-01">
        <ul>
            <li><a href="#">关于我们</a></li><li><a href="#">法规制度</a></li><li><a href="#">联系我们</a></li><li><a href="#">招贤纳士</a></li><li><a href="#">客服中心</a></li>
        </ul>
    </div>
    <div class="copyright">
        <span>两湖绿谷, Copyright ©1999-2013 All Rights Reserved</span><span>公司地址：湖北省荆州市荆沙大道中国绿谷网三楼</span><span>电话：400-889-2565</span><span>备案号：鄂ICP备07007477号-2</span>
    </div>
    <div class="link_p">
        <span><a href="#"><img src="../../components/footer/images/link01.gif"  height="40" /></a></span>
        <span><a href="#"><img src="../../components/footer/images/link02.gif"  height="40" /></a></span>
        <span><a href="#"><img src="../../components/footer/images/link03.gif"  height="40" /></a></span>
        <span><a href="#"><img src="../../components/footer/images/link04.gif"  height="40" /></a></span>
        <span><a href="#"><img src="../../components/footer/images/link05.gif"  height="40" /></a></span>
        <span><a href="#"><img src="../../components/footer/images/link06.gif"  height="40" /></a></span>
        <span><a href="#"><img src="../../components/footer/images/link07.gif"  height="40" /></a></span>
    </div>
    <div class="f-cl"></div>
</div>
<!--footer-end-->
