<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入职申请单</title>
    <link rel="stylesheet" type="text/css" href="http://design.yyuap.com/static/uui-original/1.0.2/css/u.min.css">
    <link rel="stylesheet" href="http://design.yyuap.com/static/uui-original/1.0.2/css/u-extend.min.css">
    <link rel="stylesheet" href="http://design.yyuap.com/static/uui-original/1.0.2/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/apply.css">
</head>
<script src="http://design.yyuap.com/static/jquery/jquery-1.11.2.js"></script>
<script src="http://design.yyuap.com/static/uui-original/1.0.3/js/u.js"></script>

<body>
    <div class="u-tabs nav-div">
        <ul class="u-tabs__tab-bar nav-ul">
            <li class="u-tabs__tab nav-first" id="nav-menu">
                   <i class="fa fa-bars" id="icon"></i>
            </li>
            <li class="u-tabs__tab nav-second">
                <img src="" alt="">待加
            </li>
            <li class="u-tabs__tab nav-third" id="searchId">
                <i class="fa fa-search"></i>
            </li>
            <li class="u-tabs__tab nav-four">
                <i class="fa fa-arrows-alt"></i>
            </li>
            <li class="u-tabs__tab nav-five" id="bell">
                <span class="u-badge nav-num">5</span>
                <i class="fa fa-bell"></i>
                <div class="message" id="message">
                    <div class="message-head">
                        <h5 class="message-head-left">有信</h5>
                        <span class=" message-head-new">New 5</span>
                    </div>
                    <ul class="message-list">
                        <li class="message-list-li">
                            <!--<div class="message-item">-->
                            <div class="item-left">
                                <i class="fa fa-cog item-left"></i>
                            </div>
                            <div class="item-right">
                                <span class="item-right-head">刘文杰转正申请-审批</span>
                                <br><span class="item-right-body">2小时前</span>
                            </div>
                            <!--</div>-->
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">刘文杰转正申请-执行</span>
                                    <br><span class="item-right-body">2小时前</span>
                                </div>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">云南红塔山项目跟进</span>
                                    <br><span class="item-right-body">2小时前</span>
                                </div>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">出差提醒</span>
                                    <br><span class="item-right-body">3小时前</span>
                                </div>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">5个聊天</span>
                                    <br><span class="item-right-body">3小时前</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="message-bottom">
                        <h5 class="message-head-left"><a href="">查看所有信息</a></h5>
                        <span class=" message-bottom-bell"><i class="fa fa-bell"></i></span>
                    </div>
                </div>
            </li>
            <li class="u-tabs__tab nav-six" id="set">
                <img src="img/heard.jpg" alt="" class="img-circle" width="25" height="25">
                <span class="nav-name">和雪儿</span>
                <i class="fa fa-sort-down" id="nav-down"></i>
                <ul class="list-group" id="info">
                    <li class="list-group-item">个人账户</li>
                    <li class="list-group-item">安全中心</li>
                    <li class="list-group-item">设置</li>
                    <li class="list-group-middle"></li>
                    <li class="list-group-item">退出</li>
                </ul>
            </li>
        </ul>
        <div class="head-search" id="searchHead">
            <i class="fa fa-search search-before"></i>
            <input type="text" class="u-form-control search-input" placeholder="Search...">
            <span class="search-after" id="searchClose">X</span>
        </div>
    </div>
    <div class="page">
        <div class="u-row  head">
            <div class="u-col-md-2"><button class="u-button head-back"><i class="fa fa-angle-left head-back-left"></i>返回</button></div>
            <div class="u-col-md-8">正式员工入职清单</div>
            <div class="u-col-md-2 ">
                <button class="u-button head-save">保存</button>
            </div>
        </div>
        <div class="u-row search u-form-inline">
                <div class="u-col-md-4">
                    <div class="u-form-group  ">
                        <label for="id">申请单编号</label>
                        <div class="u-input-group">
                            <input type="text" id="id" class="u-form-control ">
                        </div>
                    </div>
                </div>
                <div class="u-col-md-4">
                    <div class="u-form-group ">
                        <label for="name">申请人姓名</label>
                        <div class="u-input-group">
                            <input type="text" id="name" class="u-form-control ">
                        </div>
                    </div>
                </div>
                <div class="u-col-md-4">
                    <div class="u-form-group ">
                        <label for="email">申请人邮箱</label>
                        <div class="u-input-group">
                            <input type="text" id="email" class="u-form-control ">
                        </div>
                    </div>
                </div>
                <div class="u-col-md-4">
                    <div class="u-form-group">
                        <label for="data">申请日期&nbsp;&nbsp;&nbsp;</label>
                        <div class="u-input-group">
                            <input type="text" id="data" class="u-form-control ">
                        </div>
                    </div>
                </div>
        </div>
        <div class="panel-example info">
            <div class="u-panel u-panel-bordered">
                <div class="u-panel-body base">
                    <h4>基本信息</h4>
                    <div class="u-row base-input u-form-inline">
                            <div class="u-col-md-4">
                                <div class="u-form-group ">
                                    <label for="baseName">姓名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="text" id="baseName" class="u-form-control ">
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group ">
                                    <label for="baseIdCard">身份证&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="text" id="baseIdCard" class="u-form-control ">
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group ">
                                    <label for="baseEmail" >个人邮箱&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="email" id="baseEmail" class="u-form-control" placeholder="域账号">
                                        <span class="u-input-group-addon email">@yonyou.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label for="basePhone">联系电话&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="text" id="basePhone" class="u-form-control ">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="u-panel-body entry">
                    <h4>入职信息</h4>
                    <div class="u-row base-input u-form-inline">
                            <div class="u-col-md-4">
                                <div class="u-form-group ">
                                    <label >招聘渠道&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <button class="u-button  waves-effect waves-light u-menu-button" id="channel1">
                                            招聘渠道选项一&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="u-right-icon fa fa-angle-down"></span>
                                        </button>
                                        <ul class="u-menu u-menu-bottom-right" for="channel1">
                                            <li class="u-menu-item "><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招聘渠道选项二</a></li>
                                            <li class="u-menu-item"><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招聘渠道选项三</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group ">
                                    <label>进入来源&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <button class="u-button  waves-effect waves-light u-menu-button" id="channel2">
                                            进入来源选项一&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="u-right-icon fa fa-angle-down"></span>
                                        </button>
                                        <ul class="u-menu u-menu-bottom-right" for="channel2">
                                            <li class="u-menu-item "><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入来源选项二</a></li>
                                            <li class="u-menu-item"><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入来源选项三</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group ">
                                    <label  >人员类别&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <div class="u-input-group">
                                            <button class="u-button  waves-effect waves-light u-menu-button" id="channel3">
                                                人员类别选项一&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="u-right-icon fa fa-angle-down"></span>
                                            </button>
                                            <ul class="u-menu u-menu-bottom-right" for="channel3">
                                                <li class="u-menu-item "><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人员类别选项二</a></li>
                                                <li class="u-menu-item"><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人员类别选项三</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label for="organization">所属组织&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="text" id="organization" class="u-form-control ">
                                        <span class="u-input-group-addon email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label for="duty">职务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="text" id="duty" class="u-form-control ">
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label for="level">职级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <input type="text" id="level" class="u-form-control ">
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label>职等&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <div class="u-input-group">
                                            <button class="u-button  waves-effect waves-light u-menu-button" id="channel5">
                                                职等选项一&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="u-right-icon fa fa-angle-down"></span>
                                            </button>
                                            <ul class="u-menu u-menu-bottom-right" for="channel5">
                                                <li class="u-menu-item "><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职等选项二</a></li>
                                                <li class="u-menu-item"><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职等选项三</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label >试用期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="u-input-group">
                                        <button class="u-button  waves-effect waves-light u-menu-button" id="channel4">
                                            试用期选项一&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="u-right-icon fa fa-angle-down"></span>
                                        </button>
                                        <ul class="u-menu u-menu-bottom-right" for="channel4">
                                            <li class="u-menu-item "><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职等选项二</a></li>
                                            <li class="u-menu-item"><a href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职等选项三</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="u-col-md-4">
                                <div class="u-form-group">
                                    <label for="endData">试用截止日期</label>
                                    <div class="u-input-group">
                                        <input type="date" id="endData" class="u-form-control ">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="u-panel-body ">
                    <h4>备注</h4>
                    <textarea  id="remark" style="width: 100%;height: 70px;"></textarea>
                </div>
            </div>
            <!-- End Example Panel With Heading -->
        </div>
    </div>
    <ul class="menu menu-close" id="menu">
        <li class="menu-item"><a href="#"><i class="fa fa-puzzle-piece"></i><span>应用中心桌面</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-calendar"></i><span>小组件集合桌面</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-th"></i><span>单组件前置桌面</span></a></li>
        <li class="menu-item-middle"></li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>系统设置</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-share-alt"></i><span>组织信息</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li><a href="#"><span>信息维护</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-arrows-alt"></i><span>岗位管理</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li ><a href=""><span>研发序列</span><i class="fa fa-angle-right menu-icon"></i></a>
                    <ul >
                        <li><a href=""><span>研发</span></a></li>
                        <li><a href=""><span>测试</span></a></li>
                    </ul>
                </li>
                <li><a href=""><span>角色管理</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>编制管理</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li><a href=""><span>预算编制</span></a></li>
                <li><a href=""><span>实际编制</span></a></li>
                <li><a href=""><span>编制维护</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>人员信息</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li><a href=""><span>报表设置</span></a></li>
                <li><a href=""><span>报表维护</span></a></li>
                <li><a href=""><span>人员维护</span></a></li>
                <li><a href=""><span>人员查询</span></a></li>
                <li><a href=""><span>人员变动</span></a></li>
                <li><a href=""><span>合同管理</span></a></li>
                <li><a href=""><span>人员查询</span></a></li>
                <li><a href=""><span>招聘管理</span></a></li>
                <li><a href=""><span>入职管理</span></a></li>
                <li><a href=""><span>离职管理</span></a></li>
                <li><a href=""><span>信息审核</span></a></li>
                <li><a href=""><span>查询分析</span></a></li>
                <li><a href=""><span>花名册</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>绩效管理</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>岗位培训</span></a></li>
    </ul>
</body>
<script src="js/apply.js"></script>
</html>