<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合同主体</title>
    <link rel="stylesheet" href="http://design.yyuap.com/static/uui-original/1.0.3/css/u.min.css">
    <link rel="stylesheet" href="http://design.yyuap.com/static/uui-original/1.0.1/css/u-extend.min.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="http://design.yyuap.com/static/uui-original/1.0.2/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
    <div class="u-tabs nav-div">
        <ul class="u-tabs__tab-bar nav-ul">
            <li class="u-tabs__tab nav-first" id="nav-menu">
                   <i class="fa fa-bars" id="icon"></i>
            </li>
            <li class="u-tabs__tab nav-second">
                <img src="" alt="">待加
            </li>
            <li class="u-tabs__tab nav-third" id="searchId">
                <i class="fa fa-search"></i>
            </li>
            <li class="u-tabs__tab nav-four">
                <i class="fa fa-arrows-alt"></i>
            </li>
            <li class="u-tabs__tab nav-five" id="bell">
                <span class="u-badge nav-num">5</span>
                <i class="fa fa-bell"></i>
                <div class="message" id="message">
                    <div class="message-head">
                        <h5 class="message-head-left">有信</h5>
                        <span class=" message-head-new">New 5</span>
                    </div>
                    <ul class="message-list">
                        <li class="message-list-li">
                            <div class="item-left">
                                <i class="fa fa-cog item-left"></i>
                            </div>
                            <div class="item-right">
                                <span class="item-right-head">刘文杰转正申请-审批</span>
                                <br><span class="item-right-body">2小时前</span>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">刘文杰转正申请-执行</span>
                                    <br><span class="item-right-body">2小时前</span>
                                </div>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">云南红塔山项目跟进</span>
                                    <br><span class="item-right-body">2小时前</span>
                                </div>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">出差提醒</span>
                                    <br><span class="item-right-body">3小时前</span>
                                </div>
                            </div>
                        </li>
                        <li class="message-list-li">
                            <div class="message-item">
                                <div class="item-left">
                                    <i class="fa fa-cog item-left"></i>
                                </div>
                                <div class="item-right">
                                    <span class="item-right-head">5个聊天</span>
                                    <br><span class="item-right-body">3小时前</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="message-bottom">
                        <h5 class="message-head-left"><a href="">查看所有信息</a></h5>
                        <span class=" message-bottom-bell"><i class="fa fa-bell"></i></span>
                    </div>
                </div>
            </li>
            <li class="u-tabs__tab nav-six" id="set">
                <img src="img/heard.jpg" alt="" class="img-circle" width="25" height="25">
                <span class="nav-name">和雪儿</span>
                <i class="fa fa-sort-down" id="nav-down"></i>
                <ul class="list-group" id="info">
                    <li class="list-group-item">个人账户</li>
                    <li class="list-group-item">安全中心</li>
                    <li class="list-group-item">设置</li>
                    <li class="list-group-middle"></li>
                    <li class="list-group-item">退出</li>
                </ul>
            </li>
        </ul>
        <div class="head-search" id="searchHead">
            <i class="fa fa-search search-before"></i>
            <input type="text" class="u-form-control search-input" placeholder="Search...">
            <span class="search-after" id="searchClose">X</span>
        </div>
    </div>
    <div class="page">
        <div class="u-row  head">
            <div class="u-col-md-2"><button class="u-button head-back"><i class="fa fa-angle-left head-back-left"></i>返回</button></div>
            <div class="u-col-md-8">合同主体</div>
            <div class="u-col-md-2 head-save-div">
                <button class="u-button head-save" id="headBtn">
                    <i class="fa fa-th"></i>
                    <i class="fa fa-sort-down head-icon"></i>
                    <ul class="list-group head-list" id="headList">
                        <li class="list-group-item"><i class="fa fa-reply"></i>返回</li>
                        <li class="list-group-item"><i class="fa fa-share-alt"></i>分享</li>
                        <li class="list-group-item"><i class="fa fa-trash"></i>删除</li>
                        <li class="list-group-middle"></li>
                        <li class="list-group-item"><i class="fa fa-gear"></i>设置</li>
                    </ul>
                </button>
            </div>
        </div>
        <div class="u-row search">
            <div class="u-col-md-12">
               <h3 class="filtrate">筛选条件</h3>
                <span class="high" id="high"><i class="fa fa-sort-down high-icon"></i>高级查询</span>
                <div class="more" id="more">
                    <span>此处加载更多查询筛选条件</span>
                    <i class="fa fa-search  more-icon"></i>
                    <input type="text" class="form-control more-input">
                </div>
            </div>
        </div>
        <div class="table-div">
            <div class="example table-responsive u-container">
                <table class="u-table-base u-table-striped table">
                    <thead>
                    <tr>
                        <th>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </th>
                        <th>名称</th>
                        <th>编码</th>
                        <th>业务群</th>
                        <th>状态</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>于长斌</td>
                        <td><a href="">32052219821116001x(点击测试)</a></td>
                        <td>男</td>
                        <td>
                            <div class="switch-example">
                                <label class="u-switch u-switch-primary u-switch-default" for="switch-primary-default">
                                    <input type="checkbox" id="switch-primary-default" class="u-switch-input" checked="true">
                                    <span class="u-switch-label"></span>
                                </label>
                            </div>
                        </td>
                        <td>2014/06/13</td>
                        <td>
                            <button class="u-button floating u-button-xg table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-xg table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>夏南南</td>
                        <td><a href="">32052219821116001x(点击测试)</a></td>
                        <td>男</td>
                        <td>
                            <div class="switch-example">
                                <label class="u-switch u-switch-primary u-switch-default" for="switch-primary-default1">
                                    <input type="checkbox" id="switch-primary-default1" class="u-switch-input" checked="true">
                                    <span class="u-switch-label"></span>
                                </label>
                            </div>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-xg table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-xg table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <div class="switch-example">
                                <label class="u-switch u-switch-primary u-switch-default" for="switch-primary-default2">
                                    <input type="checkbox" id="switch-primary-default2" class="u-switch-input" checked="true">
                                    <span class="u-switch-label"></span>
                                </label>
                            </div>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-xg table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-xg table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <div class="switch-example">
                                <label class="u-switch u-switch-primary u-switch-default" for="switch-primary-default3">
                                    <input type="checkbox" id="switch-primary-default3" class="u-switch-input" checked="true">
                                    <span class="u-switch-label"></span>
                                </label>
                            </div>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-xg table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-xg table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <button class="u-button raised accent u-button-sm">停止</button>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <button class="u-button raised  u-button-sm">运行</button>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <button class="u-button raised primary u-button-sm">停止</button>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <button class="u-button raised primary u-button-sm">运行</button>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <button class="u-button raised primary u-button-sm">运行</button>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            <button class="u-button raised primary u-button-sm">运行</button>
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr class="table-tr">
                        <td>
                            <label class="u-checkbox tree-parent is-upgraded checkbox table-checkbox" >
                                <input type="checkbox" class="u-checkbox-input">
                                <span class="u-checkbox-focus-helper"></span>
                            <span class="u-checkbox-outline custom-checkbox">
                                <span class="u-checkbox-tick-outline"></span>
                            </span>
                            <span style="overflow: hidden; position: relative;">
                                <span class="u-ripple"></span>
                            </span>
                            </label>
                        </td>
                        <td>李建林</td>
                        <td>32052219821116001x</td>
                        <td>男</td>
                        <td>
                            23
                        </td>
                        <td>2014/09/12</td>
                        <td>
                            <button class="u-button floating u-button-sm table-button">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <button class="u-button floating u-button-sm table-button">
                                X
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="menu menu-close" id="menu">
        <li class="menu-item"><a href="#"><i class="fa fa-puzzle-piece"></i><span>应用中心桌面</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-calendar"></i><span>小组件集合桌面</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-th"></i><span>单组件前置桌面</span></a></li>
        <li class="menu-item-middle"></li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>系统设置</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-share-alt"></i><span>组织信息</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li><a href="#"><span>信息维护</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-arrows-alt"></i><span>岗位管理</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li ><a href=""><span>研发序列</span><i class="fa fa-angle-right menu-icon"></i></a>
                    <ul >
                        <li><a href=""><span>研发</span></a></li>
                        <li><a href=""><span>测试</span></a></li>
                    </ul>
                </li>
                <li><a href=""><span>角色管理</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>编制管理</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li><a href=""><span>预算编制</span></a></li>
                <li><a href=""><span>实际编制</span></a></li>
                <li><a href=""><span>编制维护</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>人员信息</span><i class="fa fa-angle-right menu-icon"></i></a>
            <ul class="menu-second">
                <li><a href=""><span>报表设置</span></a></li>
                <li><a href=""><span>报表维护</span></a></li>
                <li><a href=""><span>人员维护</span></a></li>
                <li><a href=""><span>人员查询</span></a></li>
                <li><a href=""><span>人员变动</span></a></li>
                <li><a href=""><span>合同管理</span></a></li>
                <li><a href=""><span>人员查询</span></a></li>
                <li><a href=""><span>招聘管理</span></a></li>
                <li><a href=""><span>入职管理</span></a></li>
                <li><a href=""><span>离职管理</span></a></li>
                <li><a href=""><span>信息审核</span></a></li>
                <li><a href=""><span>查询分析</span></a></li>
                <li><a href=""><span>花名册</span></a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>绩效管理</span></a></li>
        <li class="menu-item"><a href="#"><i class="fa fa-desktop"></i><span>岗位培训</span></a></li>
    </ul>
</body>
<script src="http://design.yyuap.com/static/jquery/jquery-1.11.2.js"></script>
<script src="http://design.yyuap.com/static/uui-original/1.0.3/js/u.js"></script>
<script src="js/list.js"></script>
</html>