#container-content {
    background:url(/img/bg.png) repeat;
}
.ui-portlet-placeholder {
    background:#fff;
}
.ui-sortable {
    border:1px dashed #ccc;
    min-height:100px;
}
.u-row .ui-sortable {
    background: #f3f3f3;
    position:relative;
}
.widget-menubar {
    position:absolute;
    left: 18px;
    top:0;
}
.u-drag {
    position:relative;
}
.widget-menubar {
    list-style: none;
    width:164px;
    margin:0;
    padding:0;
    background:#fff;
    border-radius:6px;
}
.widget-menubar li {
    list-style: none;
    display:inline-block;
}
.widget-menubar li:hover {
    background:none;
}
.widget-menubar li  i {
    border:none;
}
.widget-menubar li  i:hover {
    color:rgb(0, 188, 212);
}