.uf-add {
    font-size:26px;
}
.navbar-default .container-fluid {
    margin:0;
    padding:0;
}
.navbar-nav li {
    border-right:1px solid #ccc;
    line-height:54px;
    height:54px;
}
#bs-example-navbar-collapse-1 {
    padding:0;
}