.navbar-default {
    margin-bottom:0;
    z-index: 10;
}
.navbar-default a {
    color:#fff;
    outline: 0;
}
.container-header {
    border-bottom:1px dashed #cbcbcb;
    height:80px;
}
#container-content {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -o-transition: width 300ms;
    -ms-transition: width 300ms;
    transition: width 300ms;
    margin-top: 0;
    margin-right: auto;;
    margin-left: auto;
}
#container-content.phone-landscape {
    border-color: #999;
    border-radius: 36px; 
    border-style: solid;
}
#container-content.phone-portrait, #container-content.phone-landscape {
    border-color: #999;
    border-radius: 36px;
    border-style: solid;
}
#container-content.phone-portrait {
    border-width: 60px 16px;
}
#container-content.phone-landscape {
    border-width: 16px 60px;
}
.container-left {
    position:absolute;
    left:0;
    height:100%;
    width:80px;
    top:52px;
    /*border-right:1px dashed #cbcbcb;*/
}
.container-right {
    position:absolute;
    right:0;
    height:100%;
    width:80px;
    top:52px;
    /*border-left:1px dashed #cbcbcb;*/
}
.container-footer {
    border-top:1px dashed #cbcbcb;
    height:50px;
    bottom:0;
    width:auto;
    position:absolute;
}

#responsive {
    display: block;
    float: right;
    margin: 0 25px;
}
#responsive > a {
    color: #6a6a6a;
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
    padding: 0 5px;
    text-decoration: none;
    outline: 0;
    -moz-transition: all 0.3s;
}

#responsive > a.active, #responsive > a:hover, #responsive > a:focus, #responsive > a:active {
    color: #00BCD4;
}
#responsive #tablet-landscape, #responsive #phone-landscape {
    transform:rotate(-90deg);
}
/*
    运维 多屏幕适应
*/
.tablet-portrait .yunwei-part1{
    width: 50%;
}
.tablet-portrait .yunwei-part2{
    width: 100%;
}
.tablet-portrait .yunwei-part3{
    width: 100%;
}
.phone-portrait .yunwei-part1{
    width: 100%;
}
.phone-portrait .yunwei-part2{
    width: 100%;
}
.phone-portrait .yunwei-part3{
    width: 100%;
}
.phone-landscape .yunwei-part1{
    width: 50%;
}
.phone-landscape .yunwei-part2{
    width: 100%;
}
.phone-landscape .yunwei-part3{
    width: 100%;
}
.tablet-landscape .u-widget-body{
    padding: 30px 7px;
}
#yunweicreate{
    padding-top: 45px;
}
#yunweicreate .u-row{
    margin-left: 0;
    margin-right: 0;
}
#yunweicreate .select-server{
    line-height: 25px;
    width: auto;
    text-align: left;
}
.margin-left-15{
    margin-left: 15px;
}
.tablet-portrait .yunweicreate-part1,.phone-landscape .yunweicreate-part1,.phone-portrait .yunweicreate-part1 {
    width: 100%;
}
.tablet-portrait .yunweicreate-part2,.phone-landscape .yunweicreate-part2,.phone-portrait .yunweicreate-part2{
    margin-left: 71%;
    margin-bottom: 5px;
}
.tablet-portrait .u-button,.phone-landscape .u-button{
    padding-left: 0;
    padding-right: 0;
}
.phone-landscape .span9{
    max-width: 343px;
    display: inline-block;
}
.phone-landscape .u-button,.phone-portrait .u-button{
    margin-left: 0 !important;
}
.phone-portrait .yunweicreate-part2{
    margin-top: 10px;
}
.phone-portrait .u-container-fluid{
    padding-left: 0;
}
.phone-portrait .img_icon>img{
    height: 35px;
    max-width: none;
}
.phone-portrait .span9{
    max-width: 200px;
    display: inline-block;
}
.phone-portrait .btn-text{
    display: none;
}
.phone-portrait .u-button{
    min-width: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.tablet-landscape .nav-btn{
    margin-left: 0;
}
.tablet-landscape .carouse-icon{
    font-size: 70px !important
}
.tablet-landscape .more-item-right{
    width: 259px;
}
.tablet-landscape .more-number{
    font-size: 20px;
}
.tablet-portrait .carouse-icon{
    font-size: 60px !important;
    margin-left: -7px;
}
.tablet-portrait .th-5,.phone-landscape .th-5,.phone-portrait .th-5{
    min-width: 112px;
}
.tablet-portrait .th-4,.phone-landscape .th-4,.phone-portrait .th-4{
    min-width: 98px;
}
.tablet-portrait .th-1,.phone-landscape .th-1,.phone-portrait .th-1{
    min-width: 89px;
}
.tablet-portrait .th-2,.phone-landscape .th-2,.phone-portrait .th-2{
    min-width: 102px;
}
.tablet-portrait .th-3,.phone-landscape .th-3,.phone-portrait .th-3{
    min-width: 100px;
}
.tablet-portrait .u-table{
    margin-right: 0;
}
.tablet-portrait .jinrong-part1,.phone-landscape .jinrong-part1,.phone-portrait .jinrong-part1 {
    width: 100%;
    margin-left: 10%;
}
.carousel-center-item img{
    width: 1214px;
    height: 380px;
}
.phone-landscape .carouse-icon{
    font-size: 60px !important;
    margin-left: -7px;
}
.phone-landscape .font-size-40{
    font-size: 35px !important;
}

.phone-portrait .carousel-center-item img{
    height: 240px;
    width: 900px;
}
.phone-portrait .carousel-center-item{
    height: 240px;
    width: 900px;
}
.pull-right{
    float: right;
}
.tablet-landscape .jinrong-part3{
    width: 10%;
}
.tablet-portrait .jinrong-part2{
    width: 21%;
}
.tablet-portrait .jinrong-part3{
    width: 14%
}
.phone-landscape .jinrong-part2{
    width: 26%;
}
.phone-landscape .jinrong-part3{
    width: 17%
}
.phone-landscape .jinrong-part4{
    width: 22%
}
.phone-landscape .jinrong-part1,.phone-portrait .jinrong-part1{
    margin-left: 0;
}
.u-bread-icon{
    display: none;
}
.phone-portrait .u-bread-icon{
    display: block;
    line-height: 25px;
}
.phone-portrait .u-bread-text{
    display: none;
}
.phone-portrait .secondmenu{
    display: none
}
.phone-portrait .carouse-icon{
    font-size: 20px !important;
    margin-left: -7px;
    margin-top: 105px;
}
.phone-portrait .jinrong-part5{
    width: 100%;
}
.phone-portrait .table-part7{
    min-width: 575px;
}
.phone-portrait .page-part8{
    display: none;
}
.phone-portrait .u-table{
    margin-right: 0;
}
.phone-portrait .jinrong-part2{
    width: 100%;
}
.phone-portrait .jinrong-part3{
    width: 100%
}
.phone-portrait .jinrong-part4{
    width: 100%
}
#yunwei .u-widget-body{
    min-height: 220px;
}
.layout-list li{
    border-radius: 3px;
    padding: 12px 12px !important;
}
.layout-list li a{
    text-decoration: none;
}
.layout-list li:hover,.layout-list li:active,.layout-list li:focus,.layout-list li.active{
    background-color: #00BCD4;
}
.layout-list li:hover a,.layout-list li:active a,.layout-list li:focus a,.layout-list li.active a{
    color: #fff;
}
.widget-list li{
    color: #000;
    padding: 10px 15px !important;
    margin-bottom: 12px !important;
}
.goright{
    margin-left: 20%;
    width: 80%;

}
.second-widget{
    position: absolute;
    margin-left: 135px;
    min-width: 300px;
    margin-top: -50px;
    border-radius: 4px;
    background: #F8F8F8;
    border: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}
.drag-area{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px dashed transparent;
}
.drag-area:hover{
    border-color: #3f51b5;
}
.drag-area button:hover{
    cursor: move;
}
.drag-area .u-tag:hover{
    cursor: move;
}
.drag-area input:hover{
    cursor: move;
}
.drag-area table:hover{
    cursor: move;
}
.drag-area .u-radio:hover{
    cursor: move;
}
.drag-area .u-checkbox:hover{
    cursor: move;
}
.drag-area .u-badge{
    padding-right: 18px;
}
.drag-area .u-badge:hover{
    cursor: move;
}
.headContainer ul{
    list-style: none;
    height: auto;
    float: right;
    margin: 0 10px 0 0;
}
.headContainer ul li{
    display: table-cell;
    padding: 5px 19px;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
    /*color: #8e8e8e;*/
    border-top: 2px solid transparent;
}
.headContainer ul li:hover{
    border-color: #696969;
    color: #696969;
}
.header-wrapper{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}
.headContainer{
    position: relative;
    width: 100%;
    display: inline-block;
 }

.headContainer .headerlogo{
    display: inline-block;
    /*margin-top: 19px;*/
    /*margin-left: 30px;*/
    margin-left: 15px;
    line-height: 50px;
}
.u-gallery-item .u-gallery-title{
    font-size: 24px !important;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px dashed #258FB9;
    color: #258FB9;
    margin-bottom: 15px;
}
.u-gallery-item .u-gallery-desc{
    padding-top: 5px;
    color: #666;
}
.u-gallery-item .u-button{
    float: right;
    border-radius: 8px;
}
.u-gallery-item a{
    color: #000;
    text-decoration: none;
}
.u-gallery-item img{
    width: 100%;
}
.u-gallery{
    list-style:none;
}
.footer{
    min-height: 50px;
    padding: 10px;
    margin-top: 50px;
}
.togglebutton{
    position: absolute;
    background: #00BCD4;
    left: calc(50% - 70px);
    width: 148px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin-top: -5px;
}
.edit-panel{
    border: 1px solid #8B7D7D;
    position: absolute;
    z-index: 9999;
    top:30px;
    left:30px;
    background-color: #fff;
}
.eidit-panel-header{
    line-height: 32px;
    background: #3F51B5;
    color: #fff;
    cursor: move;
    width: 310px;
    min-width: 200px;
    padding: 0 10px;
}
.eidit-panel-header .uf-removesymbol{
    float: right;
    cursor:pointer;
}
.edit-panel-body{
    background: #fff;
    padding: 0 10px 10px 10px;
    min-width: 200px;
    position: inherit;
    max-height: 400px;
    overflow: auto;
    min-height: 250px;
    width: 310px;
    min-width: 200px;
    border: 1px solid #ddd;
}
.edit-panel-body .u-button-file{
    width: 100%;
}
.edit-panel-body p{
    margin-top: 0;
    padding-top: 10px;
}
.edit-panel-body .panel-part{
    margin: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
}
.edit-panel-body input[type=color]{
    width: 44%;
}
.edit-panel-body .text-part{
    display: inline-block;
    border: 1px dashed #aaa;
    width: 45%;
    text-align: center;
    margin-left: 10px;
}
.drag-overlay{
    position: absolute;
    height: 100%;
    z-index: 999;
    top: 0;
}
.edit-panel .editcoverstyle{
    padding: 0 !important;
    background: none !important;
    border: none !important;
    margin: 2px 0 !important;
}
.edit-panel img{
    width: 100%;
}
.edit-panel .magintop-7{
    margin-top: 7px !important;
}
.edit-panel .maginleft-10{
    margin-left: 10px !important;
}
.edit-panel .textfont{
    display: inline-block;
    margin-top: 12px;
}
.edit-panel .category{
    border: 1px dashed transparent !important;
    padding: 4px !important;
}
.edit-panel .category:hover{
    border-color: #ddd !important;
}
.edit-panel .category:hover .uf-removesymbol{
    visibility: visible;
}
.edit-panel .category .uf-removesymbol:hover{
    color: red;
}
.edit-panel .category .uf-removesymbol{
    position: absolute;
    top: 0;
    right: -11px;
    margin-top: -10px;
    color: #D24747;
    visibility: hidden;
}
.edit-panel .textarea-part{
   width: 100%;
   min-height: 100px;
   margin-left: 0;
   border: 1px dashed #aaa;
}
.u-button[readonly], .u-button[disabled]{
    border-color: rgb(241,241,241);
    background-color: rgb(241,241,241);
}

.layout-body .u-row [class^="u-col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px dashed rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
    margin:5px 0;
}
#container-content .u-row [class^="u-col-"] {
    margin:5px 0;
    border: 1px dashed rgba(86, 61, 124, 0.2);
}
#container-content .u-widget .u-row [class^="u-col-"] {
    border:none;
}
#container-content .u-widget .row [class^="u-col-"] {
    border:none;
}
#container-content .u-row {
    transition: background 0.3s ease 0s;
    background-color:#fff;
}
#container-content .u-row:hover {
    background-color:#fff;
    background-color:rgba(0, 188, 212, 0.05);
}

#container-content .u-row:hover > [class^="u-col-"] {
    border:1px solid rgb(0, 188, 212);
}
/*.nav-toggle {
    position: absolute;
    right: 0;
    bottom: 0;
}*/
.nav-toggle .uf-alignjustify1{
    font-size: 20px;
}
.toggle-show{
    display: block;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-right-0{
    margin-right: 0 !important;
}
.u-drag-area{
    border: 1px dashed #979797;
    cursor: move;
    text-align: center;
    padding: 5px;
    display: inline-block;
}
.margin-bottom-0{
    margin-bottom: 0;
}
#container-content .u-drag-area, .designer-preview .u-drag-area{
    border: none;
}
.carousel-control{
    width: 5%;
}
.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{
    font-size: 15px;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.carousel-control .glyphicon-chevron-left:hover{
    background: #00c0ff;
}
.carousel-control .glyphicon-chevron-right:hover{
    background: #00c0ff;
}
.footer .footer-img{
    margin-left: -20%;
}
.footer .footer-img img{
    width: 120%;
}
.footer .footer-text{
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
    margin-bottom: 20px
}
#container-content .page-container{
    padding-top: 20px;
}
.tablet-portrait .select-server{
    width: auto;
}
#yunwei .u-row .ui-sortable {
    min-height:100px;
}
#yunwei .u-widget {
    border:1px solid #f3f3f3;
}
#container-content .footer {
    background:none;
}
.navdefault{
    background-color: #fff;
    color: #8e8e8e;
}
.navsuccess{
    background-color: rgb(76,175,80);
    color: #fff;
}
.navinfo{
    background-color: rgb(0,188,212);
    color: #fff;
}
.navwarning{
    background-color: rgb(255,152,0);
    color: #fff;
}
.navdanger{
    background-color: rgb(244,67,54);
    color: #fff;
}
.navdark{
    background-color: rgb(97,97,97);
    color: #fff;
}
.image-roundtype{
    margin: 10px 0;
}
.round-1 img{
    border-radius: 5px;
}
.round-2 img{
    border-radius: 35px;
}
.round-3 img{
    border-radius: 50%;
}
.lineheight20{
    line-height: 30px;
}
.padding-none{
    padding: 0 !important;
}
.u-tag.u-tag-outline {
    background-color: transparent !important;
    border-color: #eeeeee; 
}
.edit-panel-body{
    cursor: auto;
}
.margin-5{
    margin-left: 5px;
    margin-right: 5px;
}
.u-button-border{
    border: 1px solid #ddd;
    background: transparent;
    color: rgb(51,51,51);
}