
.layout-container {
    position:absolute;
    top:50px;
    width:100%;
    height: 78px !important;
    transition: width 0.25s ease 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.layout-container.collapse.in {
    transform: translateY(-100%);
}
.layout-container.collapse {
    display: block !important;
    height: 78px !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.layout-list ul {
    list-style: none;
    margin:0;
    padding:10px 85px;
    background:#f8f8f8;
}
.layout-list li {
    border: 1px solid #dbdbdb;
    cursor: pointer;
    padding: 16px 15px;
    display:inline-block;
    margin-right:10px;
}

.layout-list li i {
    background: #44bde4 none repeat scroll 0 0;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 12px;
    padding: 5px;
}

