#sidebar-container {
    width:90px;
    position:absolute;
    height:100% !important;
    z-index:3;
    border-right:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
    transition: width 0.25s ease 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
#sidebar-container ul.widget-type {
    padding:5px;
    z-index: 3;
    position: relative;
    float: left;
    background: #303F9F;
}
.widget-type {
    position:relative;
    z-index:4;
}
.widget-type li {
    line-height:30px;
}
.widget-type li a {
    color:#fff;
    display:inline-block;
    padding:5px 10px;
    text-decoration: none;
    outline:0;
    font-weight:normal;
}
.widget-type .child-menu a:hover {
    background:#7986cb;
    border-radius: 10px;
}
#sidebar-container ul {
    list-style: none;
    margin:0;
    padding:0;
}
#sidebar-container ul i {
    font-size:14px;
    display:inline-block;
    padding:5px;
    color:#fff;
    border-radius:12px;
    line-height:12px;
}
#sidebar-container ul.widget-list {
    margin:0 auto;
    margin:20px 0;
    text-align: center;
}
.widget-list li {
    border:1px solid #dbdbdb;
    padding:16px 15px;
    cursor: pointer;
    margin:0 auto;
    margin-bottom:20px;
    transition: background 0.25s ease 0s;
    border-radius: 5px;
    text-align:left;
}
.widget-list li:hover {
    background:#fff;
}
.site-menubar.collapse.in {
    transform: translateX(-100%);
}
.site-menubar.collapse {
    display: block !important;
    height: 100% !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.sidebar-panel-container {
    position:absolute;
    top:0;
    left: -170px;
    width: 167px;
    background:#fff;
    border:1px solid #dcdcdc;
    border-left:0;
    height:100% !important;
    transition: left 0.25s;
    z-index:2;
}

.u-row [class^="u-col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px dashed rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
    margin:5px 0;
}

.child-menu-head a {
    font-size:14px;
}
.child-menu a {
    font-size:12px;
    margin-left:10px;
}
.child-menu-elements-head.collapse.in {
    display:inline-block !important;
    height:100% !important;
}
.child-menu-elements-head.collapse {
    display:inline-block !important;
    height:100% !important;
}
.child-menu-elements-head.collapsing {
    display:inline-block !important;
    height:100% !important;
}
.sidebar-panel-close {
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    color:#0697E8;
    font-size:12px;
}
.sidebar-panels .panel-heading {
    border-bottom:1px solid #979797;
    padding:10px;
}

.sidebar-panels .panel-body {
    margin:0;
    padding:0;
}
.layout-header {
    padding:10px;
    border-bottom:1px solid #979797;
}
.layout-panel-content {
    padding:10px;
}
.layout-body {
    padding-top:10px;
    padding-bottom:10px;
}

.lay-box {
    width:60px;
    border:1px dashed #979797;
    opacity: 0.34;
    cursor: pointer;
    float:left;
    margin:0 6px;
    margin-bottom:3px;
}
.lay-header {
    background:#F5A623;
    height:9px;
}
.lay-body {
    background:#00BCD4;
    height:34px;
}
.lay-footer {
    background:#3F51B5;
    height:9px;
}

.layout-panel .u-row {
    border:1px dashed #979797;
    padding:0 3px;
    margin-bottom:10px;
    cursor: pointer;
}
.layout-panel .u-row [class^="u-col-"] {
    background:#EEEEEE;
    border:1px solid #fff;
}
.layout-panel .u-row:hover [class^="u-col-"] {
    background:#A4DEFE;

}
.layout-panel .container-fluid {
    padding-left:5px;
    padding-right:5px;
}
.layout-panel .u-row {
    margin-left:-10px;
    margin-right:-10px;
}
.sidebar-panel-container.collapse{
    left: -170px;
}
.sidebar-panel-container.collapse.in{
    left: 90px;
}