#sidebar-container {
    width:114px;
    position:absolute;
    height:100% !important;
    z-index:3;
    border-right:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
    background: #303f9f;
    transition: width 0.25s ease 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
#sidebar-container ul.widget-type {
    padding:5px;
}
.widget-type li {
    line-height:30px;
}
.widget-type li a {
    color:#fff;
    display:inline-block;
    padding:5px 10px;
    text-decoration: none;
    font-size:12px;
}
.widget-type li a:hover {
    background:#7986cb;
    border-radius: 10px;
}
#sidebar-container ul {
    list-style: none;
    margin:0;
    padding:0;
}
#sidebar-container ul i {
    font-size:14px;
    display:inline-block;
    padding:5px;
    color:#fff;
    background:#ee8000;
    border-radius:12px;
    line-height:12px;
}
#sidebar-container ul.widget-list {
    margin:0 auto;
    margin:20px 0;
    text-align: center;
}
.widget-list li {
    border:1px solid #dbdbdb;
    padding:16px 15px;
    cursor: pointer;
    margin:0 auto;
    margin-bottom:20px;
    transition: background 0.25s ease 0s;
    border-radius: 5px;
    text-align:left;
}
.widget-list li:hover {
    background:#fff;
}
.site-menubar.collapse.in {
    transform: translateX(-100%);
}
.site-menubar.collapse {
    display: block !important;
    height: 100% !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.sidebar-panel-container {
    position:absolute;
    top:0;
    left:114px;
    width:348px;
    background:#fff;
    border:1px solid #dcdcdc;
    border-left:0;
    height:100% !important;
    display:none;
}

.u-row [class^="u-col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px dashed rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
    margin:5px 0;
}