<div class="u-text" style="width: 200px;">
    <input class="u-input"/>
    <label class="u-label">这是一个文本框</label>
</div>

<div class="u-text" style="width: 200px;">
    <input class="u-input"/>
    <label class="u-label">这是一个文本框</label>
    <a href="#" class="ec-search_ico"></a>
</div>

<dl class="ec-form-item">
	<dt class="ec-form-item-title">
		商品分类：
	</dt>
	<dd class="ec-form-item-content">
		<div class="u-text" style="width: 200px;">
		    <input class="u-input"/>
		    <label class="u-label">这是一个文本框</label>
		    <a href="#" class="ec-search_ico"></a>
		</div>
	</dd>
</dl>