<!--导航菜单-->
<nav class="u-navmenu u-navmenu-horizontal">
	<ul>
		<li id="nav-home-page" class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1" href="#" linkto="">
			<i class="fa fa-home" aria-hidden="true"></i>
				首页
			</a>
			<ul class="hidden"></ul>
		</li>
		<li class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1" href="#" linkto="">
				<i class="fa fa-cog" aria-hidden="true"></i>
				系统
			</a>
			<ul class="u-navmenu-sub">
				<li><a class="u-navmenu-link" href="#" linkto="">角色管理</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">用户管理</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">菜单管理</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">模板设置</a></li>
			</ul>
		</li>
		<li class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1 u-navmenu-link-current" href="#" linkto="">
			<i class="fa fa-th" aria-hidden="true"></i>
				商品
			</a>
			<ul class="u-navmenu-sub">
				<li><a class="u-navmenu-link" href="#goodsClassify" linkto="">商品分类</a></li>
				<li><a class="u-navmenu-link" href="#goodsStandard" linkto="">商品规格</a></li>
				<li><a class="u-navmenu-link" href="#goodsProperty" linkto="">商品属性</a></li>
				<li><a class="u-navmenu-link" href="#baseInfo" linkto="">商品</a></li>
				<li><a class="u-navmenu-link" href="#goodsPublish" linkto="">商品发布</a></li>
			</ul>
		</li>
		<li class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1" href="#" linkto="">
			<i class="fa fa-th-list" aria-hidden="true"></i>
				店铺
			</a>
			<ul class="u-navmenu-sub">
				<li><a class="u-navmenu-link" href="#" linkto="">店铺设置</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">栏目管理</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">友情链接</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">留言管理</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">帐户管理</a></li>
			</ul>
		</li>
		<li class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1" href="#" linkto="">
			<i class="fa fa-random" aria-hidden="true"></i>
				交易
			</a>
			<ul class="u-navmenu-sub">
				<li><a class="u-navmenu-link" href="#" linkto="">订单处理</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">退货审核</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">补货签收</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">销售排名</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">缺货排名</a></li>
			</ul>
		</li>
		<li class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1" href="#" linkto="">
			<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
				结算
			</a>
			<ul class="u-navmenu-sub">
				<li><a class="u-navmenu-link" href="#" linkto="">发起结算</a></li>
			</ul>
		</li>
		<li class="nav-menu-lev-1-li">
			<a class="u-navmenu-link nav-menu-lev-1" href="#" linkto="">
			<i class="fa fa-pie-chart" aria-hidden="true"></i>
				库存
			</a>
			<ul class="u-navmenu-sub">
				<li><a class="u-navmenu-link" href="#" linkto="">库存入库</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">库存出库</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">出入库明细</a></li>
				<li><a class="u-navmenu-link" href="#" linkto="">存量查询</a></li>
			</ul>
		</li>
	</ul>
</nav>
<!--导航菜单 end-->