.u-tabs__tab-bar {
	height: 37px;
}

.u-tabs__tab {
	height: 37px;
	line-height: 37px;
	background-color: #f9f9f9;
	margin-right: 10px;
}

.u-tabs.is-upgraded .u-tabs__tab.is-active {
	color: #fff;
}

.u-tabs-pill .u-tabs__tab {
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.u-tabs-pill .u-tabs__tab.is-active:hover {
    background-color: rgb(0,188,212);
}

.u-tabs-pill .u-tabs__tab:hover {
    background-color: #fff;
}
