<link rel="stylesheet" href="http://design.yyuap.com/templates/website/tenxcloud/css/console/main.526.css?rev=0.1.0">
<div id="yunweicreate">  
    
    <div class="page-container">
        <article>
            <div id="home-main" class="modalCrealApp" style="background:#fff;min-height:100%;">
                <div class="pearls-con u-container-fluid">
                    <div class="pearls u-row">
                        <div class="pearl done u-col-xs-4">
                            <span class="pearl-number">1</span>
                            <span class="pearl-title">镜像来源</span>
                        </div>
                        <div class="pearl current u-col-xs-4">
                            <span class="pearl-number">2</span>
                            <span class="pearl-title">容器配置</span>
                        </div>
                        <div class="pearl u-col-xs-4">
                            <span class="pearl-number">3</span>
                            <span class="pearl-title">高级设置</span>
                        </div>
                    </div>
                </div>
                <div class="steps-main">
                    <div class="yunweicreate-part1 u-col-md-6 u-col-sm-11 u-col-sm-offset-1">
                        <div class="select-server">
                            <span>选择镜像:</span>
                        </div>
                        <section class="info-class">
                            <span class="u-tag u-tag-info u-tag-round">常用</span>
                            <span class="u-tag  cyan u-tag-round">Stack</span>
                            <span class="u-tag  cyan u-tag-round">公有</span>
                            <span class="u-tag  cyan u-tag-round">私有</span>
                            <span class="u-tag  cyan u-tag-round">收藏夹</span>
                            <span class="u-tag  cyan u-tag-round">Docker/第三方镜像</span>
                        </section>
                    </div>
                    <div class="yunweicreate-part1  u-col-md-6 u-col-sm-offset-1 u-col-sm-11">
                        <div class="select-server">
                            <span>镜像类别:</span>
                        </div>
                        <section class='info-class'>
                            <span class="u-tag u-tag-info u-tag-round">运行时</span>
                            <span class="u-tag  cyan u-tag-round">SSH 服务器</span>
                            <span class="u-tag cyan  u-tag-round">Web 服务器</span>
                            <span class="u-tag cyan  u-tag-round">数据库与缓存</span>
                            <span class="u-tag cyan  u-tag-round">Library</span>
                            <span class="u-tag cyan   u-tag-round">其他</span>
                        </section>
                    </div>
                    <div class="yunweicreate-part2 u-col-md-3 u-col-md-offset-1 u-col-sm-4 u-col-sm-offset-5">
                        <div class="u-input-group u-has-feedback sw  pull-right searchbtn">
                            <input type="text" class="u-form-control" id="exampleInput3">
                            <span class="u-form-control-feedback fa fa-search"></span>
                        </div>
                    </div>
                    <div class="u-col-md-12">
                        <div class="u-container-fluid list-system-img">
                            <div class="u-row image-item">
                                <div class="u-col-2 u-col-xs-12">
                                    <span class="img_icon"><img src="https://dn-tenxstore.qbox.me/tenxcloud_lamp.png?imageView3/2/h/50"></span>
                                </div>
                                <div class="u-col-8 u-col-xs-12">
                                    <div class="list-item-description">
                                        <div class="name h4">tenxcloud/lamp <a title="点击查看镜像详情" target="_blank" href="https://hub.tenxcloud.com/repos/tenxcloud/lamp"><i class="fa fa-external-link-square"></i></a></div><span class="span9" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">LAMP 运行时环境，包含Ubuntu+Apache+Mysql+PHP，开放SSH</span></div>
                                </div>
                                <div class="u-col-2 u-col-xs-12">
                                    <button class="u-button   u-button-info margin-top-35 margin-left-15">
                                        <span class="btn-text">部署</span>
                                        <i class="fa fa-arrow-circle-o-right margin fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="u-row image-item">
                                <div class="u-col-2 u-col-xs-12">
                                    <span class="img_icon"><img src="https://dn-tenxstore.qbox.me/tenxcloud_php.png?imageView3/2/h/50"></span>
                                </div>
                                <div class="u-col-8 u-col-xs-12">
                                    <div class="list-item-description">
                                        <div class="name h4">tenxcloud/php <a title="点击查看镜像详情" target="_blank" href="https://hub.tenxcloud.com/repos/tenxcloud/lamp"><i class="fa fa-external-link-square"></i></a></div><span class="span9" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"> PHP运行时环境，快速部署PHP应用，含示例代码，开放SSH</span></div>
                                </div>
                                <div class="u-col-2 u-col-xs-12">
                                    <button class="u-button   u-button-info margin-top-35 margin-left-15">
                                        <span class="btn-text">部署</span>
                                        <i class="fa fa-arrow-circle-o-right margin fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="u-row image-item">
                                <div class="u-col-2 u-col-xs-12">
                                    <span class="img_icon"><img src="https://dn-tenxstore.qbox.me/tenxcloud_java.png?imageView3/2/h/50"></span>
                                </div>
                                <div class="u-col-8 u-col-xs-12">
                                    <div class="list-item-description">
                                        <div class="name h4">tenxcloud/JAVA <a title="点击查看镜像详情" target="_blank" href="https://hub.tenxcloud.com/repos/tenxcloud/lamp"><i class="fa fa-external-link-square"></i></a></div><span class="span9" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">Java运行时环境，快速部署Java应用，含示例代码，开放SSH</span></div>
                                </div>
                                <div class="u-col-2 u-col-xs-12">
                                    <button class="u-button   u-button-info margin-top-35 margin-left-15">
                                        <span class="btn-text">部署</span>
                                        <i class="fa fa-arrow-circle-o-right margin fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="u-row image-item">
                                <div class="u-col-2 u-col-xs-12">
                                    <span class="img_icon"><img src="https://dn-tenxstore.qbox.me/tenxcloud_nodejs.png?imageView3/2/h/50"></span>
                                </div>
                                <div class="u-col-8 u-col-xs-12">
                                    <div class="list-item-description">
                                        <div class="name h4">tenxcloud/nodejs <a title="点击查看镜像详情" target="_blank" href="https://hub.tenxcloud.com/repos/tenxcloud/lamp"><i class="fa fa-external-link-square"></i></a></div><span class="span9" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">Node.js运行时环境，快速部署Node.js应用，含示例代码，开放SSH</span></div>
                                </div>
                                <div class="u-col-2 u-col-xs-12">
                                    <button class="u-button   u-button-info margin-top-35 margin-left-15">
                                        <span class="btn-text">部署</span>
                                        <i class="fa fa-arrow-circle-o-right margin fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="u-row image-item">
                                <div class="u-col-2 u-col-xs-12">
                                    <span class="img_icon"><img src="https://dn-tenxstore.qbox.me/tenxcloud_lamp.png?imageView3/2/h/50"></span>
                                </div>
                                <div class="u-col-8 u-col-xs-12">
                                    <div class="list-item-description">
                                        <div class="name h4">tenxcloud/lamp <a title="点击查看镜像详情" target="_blank" href="https://hub.tenxcloud.com/repos/tenxcloud/lamp"><i class="fa fa-external-link-square"></i></a></div><span class="span9" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">LAMP 运行时环境，包含Ubuntu+Apache+Mysql+PHP，开放SSH</span></div>
                                </div>
                                <div class="u-col-2 u-col-xs-12">
                                    <button class="u-button   u-button-info margin-top-35 margin-left-15">
                                        <span class="btn-text">部署</span>
                                        <i class="fa fa-arrow-circle-o-right margin fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
        </div>
    </div>
</div>