<div id="girdComp">
	<div id="gridTest" u-meta='{"id":"grid","type":"grid","data":"dataTable","columnMenu":false,"canDrag":false,"sortable":false,"canSwap":false,"showNumCol":true,"multiSelect":true}'>
		<div options='{"field":"name","dataType":"String","title":"姓名"}'></div>
		<div options='{"field":"time","dataType":"time","title":"日期"}'></div>
		<div options='{"field":"distance","dataType":"String","title":"距离"}'></div>
		<div options='{"field":"currency","dataType":"String","title":"金额"}'></div>
	</div>
</div>
