<!--表格操作-------->
<div class="spflxz01-box">
	<span class="xz01-s-b">
  <button class="u-button raised primary J-goods-pro-add ec-button">新增</button>
  <button class="u-button raised ec-button">删除</button>
  <button id="multi-qy-btn" class="u-button raised ec-button">启用</button>
  <button id="multi-ty-btn" class="u-button raised ec-button">停用</button>
  </span>
	<span class="ss01-s-b">
    <input type="text" class="u-form-control ec-form-control-small" style="margin-right: 5px;width: 250px;vertical-align: bottom;" placeholder="规格编码/名称">
  <button class="u-button raised ec-button" style="color:#06c">搜索</button>
  </span>
	<div class="f-cl"></div>
</div>
<!--表格操作 end-------->