<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>iUAP Design Demo</title>

  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="iUAP Design"/>
	<link href='../../../vendor/uui/fonts/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css' charset='utf-8' />
	<link rel="stylesheet" href="../../../vendor/uui/css/u.css">
	<link rel="stylesheet" href="../../../vendor/uui/css/grid.css">
	<link rel="stylesheet" href="../../components/common/button/button.css">
	<link rel="stylesheet" href="../../components/common/checkbox/checkbox.css">
	<link rel="stylesheet" href="../../components/common/input/input.css">
	<link rel="stylesheet" href="../../components/common/combox/combox.css">
	<link rel="stylesheet" href="../../components/common/validate/validate.css">
	<link rel="stylesheet" href="../../components/common/checkbox/checkbox.css">
	<link rel="stylesheet" href="../../components/common/steps/steps.css">
	<link rel="stylesheet" href="../../components/common/navmenu/navmenu.css">
	<link rel="stylesheet" href="../../components/common/table/table.css">
	<link rel="stylesheet" href="../../components/common/gridComp/gridComp.css">
	<link rel="stylesheet" href="../../components/common/pagination/pagination.css">
  <link rel="stylesheet" href="../../components/common/dialog/dialog.css">
	<link rel="stylesheet" href="../../components/common/tab/tab.css">
	<link rel="stylesheet" href="../../components/common/query/query.css">
	<link rel="stylesheet" href="./template.css">
</head>
<body>
  <h2>
	电子销售模板，主题颜色0,188,212
  </h2>
  <h4> 按钮 </h4>
  <%- include ../../components/common/button/button.html %>
  <h4> 复选框 </h4>
  <%- include ../../components/common/checkbox/checkbox.html %>
  <h4> 输入框 </h4>
  <%- include ../../components/common/input/input.html %>
  <h4> 下拉框 </h4>
  <%- include ../../components/common/combox/combox.html %>
	<h4> 检验 </h4>
  <%- include ../../components/common/validate/validate.html %>
  <h4> 步骤条 </h4>
  <%- include ../../components/common/steps/steps.html %>
  <h4> 导航菜单 </h4>
  <%- include ../../components/common/navmenu/navmenu.html %>
  <h4> 表格 </h4>
  <%- include ../../components/common/table/table.html %>
  <h4> 表格控件 </h4>
  <%- include ../../components/common/gridComp/gridComp.html %>
  <h4> 分页 </h4>
  <%- include ../../components/common/pagination/pagination.html %>
  <h4> 对话框 </h4>
  <%- include ../../components/common/dialog/dialog.html %>
  <h4> 页签 </h4>
  <%- include ../../components/common/tab/tab.html %>
  <h4> 查询 </h4>
  <%- include ../../components/common/query/query.html %>


  <!-- 你的代码 -->

  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="../../../vendor/jquery/1.11.3/jquery.min.js"></script>
  <!--<![endif]-->
  <!--[if lte IE 8 ]>
  <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
  <script src="http://design.yyuap.com/static/iuap-design/3.0.1/js/u-polyfill.js"></script>
  <![endif]-->
  <script src="../../../vendor/knockout/knockout-3.2.0.debug.js"></script>
  <script src="../../../vendor/uui/js/u.js"></script>
  <script src="../../../vendor/uui/js/u-grid.js"></script>
  <script src="../../components/common/steps/steps.js"></script>
	<script src="../../components/common/navmenu/navmenu.js"></script>
	<script src="../../components/common/gridComp/gridComp.js"></script>
	<script src="../../components/common/pagination/pagination.js"></script>
	<script src="../../components/common/combox/combox.js"></script>
	<script src="../../components/common/validate/validate.js"></script>
	<script src="../../components/common/dialog/dialog.js"></script>
	<script src="../../components/common/tab/tab.js"></script>
  <script>
	u.on(window, 'load', function() {

	})
</script>

</body>
</html>
