.u-form-group > label {
    height: 32px;
    line-height: 32px;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.u-form-control {
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 12px;
}

.u-form-control-feedback {
	height: 32px;
	line-height: 32px;
}

.ec-form-control-feedback-small {
	height: 26px;
	line-height: 26px;
}

.ec-form-control-small {
	height: 26px;
	line-height: 26px;
}