<div style="width:200px;margin:10px;display:inline-block">
	<input type="text" class="u-form-control" placeholder="分类搜索">
</div>

<div style="width:200px;margin:10px;display:inline-block">
	<div class="u-input-group u-has-feedback">
		<input type="text" class="u-form-control" placeholder="请输入关键字">
		<span class="u-form-control-feedback fa fa-search"></span>
	</div>
</div>

<div style="width:200px;margin:10px;display:inline-block">
	<div class="u-combo" id="combo1"></div>
	<div class="u-input-group u-has-feedback">
	   <input class="u-form-control" id="input1"/>
	   <span class="u-form-control-feedback fa fa-angle-down" data-role="combo-button"></span>
	</div>
</div>
<br>
<div style="width:200px;margin:10px;display:inline-block">
	 <input type="text" class="u-form-control ec-form-control-small" placeholder="商品名称">
</div>

<div style="width:200px;margin:10px;display:inline-block">
	<div class="u-combo" id="combo1"></div>
	<div class="u-input-group u-has-feedback" style="display:inline-block;width:100px">
	   <input class="u-form-control ec-form-control-small" id="input1"/>
	   <span class="u-form-control-feedback ec-form-control-feedback-small fa fa-angle-down" data-role="combo-button"></span>
	</div>
</div>