<!--site-nav-->
<div class="site-nav">
	<div class="w">
		<ul class="l-ul">
			<li><i class="i-home f-vam"></i> <a class="c-666" href="javascript:void (0);" style="margin-left:10px;"><span class="f-vam">店铺首页</span></a></li>
		</ul>

		<ul class="r-ul">
			<li class="li"><span class="s-b f-vam">您好，欢迎来到用友--商家门户！</span></li>
			<li class="li"><span class="s-b f-vam ">[<a class="a c-666" href="javascript:void (0);">请登录</a>]</span></li>
			<li class="li"><span class="s-b f-vam ">[<a class="a c-666" href="javascript:void (0);">免费注册</a>]</span></li>
			<li class="li"><span class="s-b f-vam "><a class="a c-666" href="javascript:void (0);"><img class="" style="margin-top: 5px;" src="../../components/common/sitenav/images/i-wx01.png"></a></span></li>
		</ul>
		<div class="f-cl"></div>
	</div>
</div>
<div class="site-nav-h"></div>
<!--site-nav-end-->
