<!--商品查询条件01------>
<div id="search-form" class="spcxtj01-box c-666">
	<ul class="ul ">
		<li class="li c-b-gray-00">
			<!--商品选项表-->
			<div class="spxxb01-box">
				<div class="xx-bt b-c-gray-01">上架时间：</div>
				<dl class="dl">
					<dd class="dd"><a class="a">今天</a></dd>
					<dd class="dd"><a class="a">本周</a></dd>
					<dd class="dd"><a class="a">本月</a></dd>
				</dl>
				<!-- <a class="a-more js_more_xx01"><span>更多</span> <i class="i-jt01"> </i> </a> -->
				<div class="f-cl"></div>
			</div>
		</li>
		<li class="li c-b-gray-00">
			<!--商品选项表-->
			<div class="spxxb01-box">
				<div class="xx-bt b-c-gray-01">商品类型：</div>
				<dl class="dl">
					<dd class="dd"><a class="a">自建</a></dd>
					<dd class="dd"><a class="a">通用</a></dd>
				</dl>
				<!-- <a class="a-more js_more_xx01"><span>更多</span> <i class="i-jt01"> </i> </a> -->
				<div class="f-cl"></div>
			</div>
		</li>
		<li class="li c-b-gray-00">
			<!--商品选项表-->
			<div class="spxxb01-box">
				<div class="xx-bt b-c-gray-01">品牌：</div>
				<dl class="dl">
					<dd class="dd"><a class="a">品牌1</a></dd>
					<dd class="dd"><a class="a">品牌2</a></dd>
					<dd class="dd"><a class="a">品牌3</a></dd>
					<dd class="dd"><a class="a">品牌4</a></dd>
					<dd class="dd"><a class="a">品牌5</a></dd>
					<dd class="dd"><a class="a">品牌6</a></dd>
					<dd class="dd"><a class="a">品牌7</a></dd>
					<dd class="dd"><a class="a">品牌8</a></dd>
					<dd class="dd"><a class="a">品牌9</a></dd>
					<dd class="dd"><a class="a">品牌10</a></dd>
					<dd class="dd"><a class="a">品牌11</a></dd>
					<dd class="dd"><a class="a">品牌12</a></dd>
					<dd class="dd"><a class="a">品牌13</a></dd>
					<dd class="dd"><a class="a">品牌14</a></dd>
					<dd class="dd"><a class="a">品牌15</a></dd>
					<dd class="dd"><a class="a">品牌16</a></dd>
					<dd class="dd"><a class="a">品牌17</a></dd>
					<dd class="dd"><a class="a">品牌18</a></dd>
					<dd class="dd"><a class="a">品牌19</a></dd>
					<dd class="dd"><a class="a">品牌20</a></dd>
				</dl>
				<a class="a-more js_more_xx01"><span>更多</span> <i class="i-jt01"> </i> </a>
				<div class="f-cl"></div>
			</div>
		</li>
	</ul>
</div>
<!--商品查询条件01--end------>