<!--商品分类新增01-------->
<div class="spflxz01-box">
	<span class="xz01-s-b">
              <button class="u-button raised primary J-goods-pro-add ec-button">上架</button>
              <button class="u-button raised ec-button">下架</button>
              <button class="u-button raised ec-button">查询</button>
              <button class="u-button raised ec-button">橱窗推荐</button>

          </span>
	<span class="ss01-s-b">
               <div class="u-combo" id="combo1"></div>
                <div class="u-input-group u-has-feedback" style="display:inline-block;width:100px">
                   <input class="u-form-control ec-form-control-small" id="input1"/>
                   <span class="u-form-control-feedback ec-form-control-feedback-small fa fa-angle-down" data-role="combo-button"></span>
</div>
<input type="text" class="u-form-control ec-form-control-small" style="margin-right: 5px;width: 150px;vertical-align: bottom;" placeholder="商品名称">
<button class="u-button raised accent">搜索</button>
<!--显示方式-->
<span class="lixsfs01-box">
                <a id="window-list-btn" class="a active">
                    <i class="i i01 f-vam"></i>
                </a>
                <a id="table-list-btn" class="a">
                    <i class="i i02 f-vam"></i>
                </a>
              </span>
<!--显示方式--end-->
</span>
<div class="f-cl"></div>
</div>
<!--商品分类新增01--end-------->