/***发布商品01-标题***/
.fbsp01-bt-box{}
.fbsp01-bt-box .bt01-d{border-bottom: 1px solid #ddd;}
.fbsp01-bt-box .bt01-d .s-txt{font-size:18px;font-weight:bold;line-height:34px;margin-left:10px;}
.fbsp01-bt-box .bt02-d{}
.fbsp01-bt-box .bt02-d .s-txt{background-color:#ea544a;height: 24px;padding:0 20px;line-height: 24px;color: #fff;display:inline-block;}
/***发布商品01-标题--end***/
